<!DOCTYPE html>
<html lang="en">
<head>
	<title>Speech recognition app</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
   <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
<link rel="stylesheet" href="{{url_for('static', filename='styles/index.css')}}"/>
</head>
<body>
	<div id="speechContainer">
    	<h1>Upload new file</h1>
    	<form method="post" enctype="multipart/form-data"/>
        	<input type="file" name="file">
        	<br>
        	<input type="Submit" id="submitButton" value="Transcribe audio"/>
    	</form> 
	</div>
	{% if trascription != "" %}
	<div id="transcritpContainer">
	<h1>Transcript audio</h1>
	<p id="speechText">{{trascription}}</p>
	</div>
	{% endif %}
</body>
</html>

